<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Environment variable LOG_PATH should be set!! -->
    <property name="LOG_FILE" value="${LOG_PATH}/spock.log"></property>

    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/file-appender.xml" />

    <logger name="org.spectingular.spock" level="INFO"/>

    <root level="WARN">
        <appender-ref ref="FILE" />
    </root>
</configuration>
